<div class="container-fluid footer">
  <div class="row">
    <div class="col-xs-12 col-lg-4 footer-container">
        <img src="assets/img/logo.svg">
    </div>
    <div class="col-xs-12 col-lg-4 footer-container">
      <div class="social-icon">
        <i class="fab fa-twitter"></i>
      </div>
      <div class="social-icon">
        <i class="fab fa-facebook-f"></i>
      </div>
      <div class="social-icon">
        <i class="fab fa-instagram"></i>
      </div>
      <div class="social-icon">
        <i class="fab fa-youtube"></i>
      </div>
      <div class="social-icon">
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
    <div class="col-xs-12 col-lg-4 footer-container">
      <div class="social-icon">
        <i class="fas fa-envelope"></i>
      </div>
      <div id="contact-us">
        <h4>Fale Conosco</h4>
     
      <p>
        Dúvida, crítica sugestão ou elogio? Envie um e-mail para suporte@simsave.com.br
      </p>
      </div>
    </div>
  </div>
</div>