<!--The content below is only a placeholder and can be replaced.-->

<app-navbar></app-navbar>
<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <div class="card-container">
        <mat-card class="card">
          <div class="top-card" id="top-urgency"></div>
          <h3 id="urgency">URGENCY</h3>
          <mat-card-content>
            <p>
             Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
          </mat-card-content>
          <div class="row center-lg card-button">
              <div>
                 <button mat-button  id="urgency-btn">Saiba mais</button>
              </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-lg">
      <div class="card-container">
        <mat-card class="card">
          <div class="top-card" id="top-student"></div>
           <h3 id="student">STUDENT</h3>
            <mat-card-content>
              <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              </p>
            </mat-card-content>
            <div class="row center-lg card-button">
              <div>
                <button mat-button >Em Breve</button>
              </div>
            </div>
            
        </mat-card>
      </div>
    </div>
    <div class="col-lg">
      <div class="card-container">
        <mat-card class="card">
          <div class="top-card" id="top-specialist"></div>
           <h3 id="specialist">SPECIALIST</h3>
            <mat-card-content>
                <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
            </mat-card-content>
            <div class="row center-lg card-button">
              <div>
                <button mat-button >Em Breve</button>
              </div>
            </div>
            
        </mat-card>
      </div>
    </div>
    <div class="col-lg">
      <div class="card-container">
        <mat-card class="box card">
          <div class="top-card" id="top-nursing"></div>
          <h3 id="nursing">NURSING</h3>
          <mat-card-content>
                <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
          </mat-card-content>
          <div class="row center-lg card-button">
            <div>
              <button mat-button  id="nursing-btn">Saiba mais</button>
            </div>
          </div>
         
        </mat-card>
      </div>
    </div>
  </div>
  
</div>
<div class="divider">
    <div class="row center-lg center-xs">
        <div class="col-xs-10 col-lg-6">
          <div class="gradient-card-container">
            <mat-card class="gradient-card">
              <h3>Ainda não é assinante?</h3>
              <p>Cadastre-se gratuitamente e descubra como vários de profissionais da área da saúde estão aprimorando seus estudos através do método inovador SimSave.</p>
              <button mat-button>Cadastre-se</button>
            </mat-card>
          </div>
        </div>

    </div>
</div>
<div class="container-fluid footer">
  <div class="row">
    <div class="col-xs-12 col-lg-4 footer-container">
        <img src="assets/img/logo.svg">
    </div>
    <div class="col-xs-12 col-lg-4 footer-container">
      <div class="social-icon">
        <i class="fab fa-twitter"></i>
      </div>
      <div class="social-icon">
        <i class="fab fa-facebook-f"></i>
      </div>
      <div class="social-icon">
        <i class="fab fa-instagram"></i>
      </div>
      <div class="social-icon">
        <i class="fab fa-youtube"></i>
      </div>
      <div class="social-icon">
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
    <div class="col-xs-12 col-lg-4 footer-container">
      <div class="social-icon">
        <i class="fas fa-envelope"></i>
      </div>
      <div id="contact-us">
        <h4>Fale Conosco</h4>
     
      <p>
        Dúvida, crítica sugestão ou elogio? Envie um e-mail para suporte@simsave.com.br
      </p>
      </div>
    </div>
  </div>
</div>

  
 

<router-outlet></router-outlet>
