<div class="divider">
    <div class="row center-lg center-xs">
        <div class="col-xs-10 col-lg-6">
          <div class="gradient-card-container">
            <mat-card class="gradient-card">
              <h3>Ainda não é assinante?</h3>
              <p>Cadastre-se gratuitamente e descubra como vários de profissionais da área da saúde estão aprimorando seus estudos através do método inovador SimSave.</p>
              <button mat-button>Cadastre-se</button>
            </mat-card>
          </div>
        </div>

    </div>
</div>