@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css');//Importando o flexbox grid
@import "_variables.scss";//SCSS Variaveis




html, body { height: 100%; overflow-x: hidden;}

body {
	margin: 0; 
	font-family: 'Roboto', sans-serif; 
	background: #F6F6F9;
}

.navbar { //navbar
	background-color: $light;

	.button {
		background: $primary;
	}

	.button-light {
		border: 1px solid #E0E0E0;
		color: $light-blue;
	}

	button {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		padding-right: 2rem;
		padding-left: 2rem;
	}
}

.card-container {
	max-width: 398px;
	max-height: 356px!important;
	margin-bottom: 1.2rem;
	.card {
		color: #000;
		background: $light;
		border: 1px solid #EBEBEB;
		border-radius: 10px;
		box-shadow: none;
		padding: 2.2rem;
		height: 283px;
		max-width: 398px;
	
		.card-header {
			text-align: center;
		}

		p {
			text-align: center;
			font-size: 16px;
			color: $grey;
		}

		h3 {
			text-align: center;
			font-weight: bold;
			font-size: 16px;
		}

		#urgency {
			color: $red;
		}

		#student {
			color: $primary;
		}

		#specialist {
			color: $purple;
		}

		#nursing {
			color: $green;
		}

		.card-button {
			display: flex;
			justify-content: center;
		}

		button {
			border: 1px solid #E0E0E0;
			padding-right: 2rem;
			padding-left: 2rem;
			margin-bottom: 1rem;
			color: $light-grey;
		}

		#urgency-btn {
			color: $red;
		}

		#nursing-btn {
			color: $green;
		}

		// .card-button {
		// 	padding-top:1rem;
		// }

		.top-card {
			width: 40px;
			height: 5px;
			border-radius: 0px 0px 5px 5px;
			margin-top: -2.2rem;
			margin-bottom: 1rem;
			margin-left: auto;
			margin-right: auto;
		}

		#top-urgency {
			background: $red no-repeat padding-box;
		}

		#top-specialist {
			background: $purple no-repeat padding-box;
		}

		#top-student {
			background: $primary no-repeat padding-box;
		}

		#top-nursing {
			background: $green no-repeat padding-box;
		}
	}
}

.divider {
	// width: 100%;
	height: 208px;
	background: rgba(23, 103, 229, 0.15) 0% 0% no-repeat padding-box;
}

.gradient-card-container {
	// height: 200px;
	// width: 618px;
	

	.gradient-card {
		margin-top: 30px;
		margin-bottom: 4rem;
		// height: 168px;
		max-width: 586px;
		background: transparent linear-gradient(89deg, #397AE1 0%, #ADDBEF 100%) 0% 0% no-repeat padding-box;
		box-shadow: 0px 4px 8px rgba(23, 103, 229, 0.15);
		border-radius: 15px;

		h3 {
			margin-top: 1rem;
			font: normal normal bold 32px Roboto;
			color: #fff;
		}

		p {
			margin-right: 1rem;
			margin-left: 1rem;
			font-size: 14px;
			text-align:center;
			margin-top: 0.5rem;
		}

		button {
			background: $light;
			color: $primary;
			box-shadow: 0px 4px 12px rgba(3, 44, 178, 0.24);
			border-radius: 5px;

		}
	}
}

.footer {
	padding-top: 6rem;
	padding-bottom: 5rem;
	
	.footer-container {
		display: flex;
		justify-content: center;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}

	.social-icon {
		margin: 0.4rem;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: $ultra-light-grey;
		color: $light;
		text-align: center;
		display: flex;
    	align-items: center;
    	justify-content: space-around;
		font-size: 20px;

	}
	#contact-us {
		margin-left: 1rem;
		width: 300px;

		color: $ultra-light-grey;

		h4 {
			margin-top: 5px;
			font: normal normal bold 26px Roboto;
			margin-bottom: -1px;
		}

		p {
			font: normal normal normal 18px Roboto;
		}
	}

	
}